<nav class="navbar navbar-inverse containerFont">
    <div class="container-fluid">
        <div class="navbar-header" style="width: 10%;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <img id="imgLogo" alt="30x30" ng-src="../images/logo.png"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#!/addProject" ng-show="isProposeur && isConnected">Proposer un projet </a></li>
                <li><a id="searchButton" ng-click="search()">
                    <span class="menuIconButtonHeader glyphicon glyphicon-search"></span>Chercher un projet</a>    
                </li>
                <li id="searchInput" ng-show="showSearchInput">
                    <input  id="inputHeader" type="text" ng-model="searchValue" typeahead-editable="true" uib-typeahead="projet as projet.titre for projet in projets | filter:$viewValue | limitTo:8">
                    <div class="btn btn-success" ng-click="searchResult()">
                        <span class="menuIconButtonHeader glyphicon glyphicon-ok"></span>
                        <span class="menuButtonHeader">Chercher</span>
                    </div>
                </li>
                <li style="margin-left: 20px;">
                    <div class="categorieHeader search" ng-click="categories()"><span class="menuIconButtonHeader glyphicon glyphicon-th"></span><span class="menuButtonHeader"> Catégorie</span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/compteUser/{{typeUser}}/{{userId}}" ng-show="isConnected"><span class="menuIcon glyphicon glyphicon-user"></span> {{username}} </a></li>
                <li><a href="#!/inscription" ng-show="!isConnected"><span class="menuIconButtonHeader glyphicon glyphicon-pencil"></span><span class="menuExtend"> S'inscrire</span></a></li>
                <li><a href="#!/login" ng-show="!isConnected"><span class="menuIconButtonHeader glyphicon glyphicon-log-in"></span><span class="menuExtend"> Se connecter</span></a></li>
                <li><a href="#" ng-click="logout()" ng-show="isConnected"><span class="menuIcon glyphicon glyphicon-log-out"></span> <span class="menuExtend">Se déconnecter</span></a></li>
            </ul>
            </div>
        </div>
</nav>