.containerRemember {
    margin-left: 8%;
    padding-top: 5%;
}

#legend {
    margin-top: 2%;
    margin-bottom: 1%;
}

#legend legend {
    padding-bottom: 2%;
}

.labelTypeUser {
    margin-right: 5%;
}