<div class="container containerProjectCompte">
    <div class="row clearfix well" style="margin-top:2%;">
        <div class="col-md-2 column">
            <img class="img-thumbnail" alt="140x140" ng-src="{{user.avatarUrl}}" />
        </div>
        <div class="col-md-8 column">
            <blockquote>
                <p>
                    {{user.nom}} {{user.prenom}}
                </p> <small><age ng-show="user.dateNaissance">{{formatAge(user.dateNaissance)}} ans </age><cite>{{user.ville}}</cite></small>
            </blockquote>
            <div id="categoriePreferees" class="col-lg-4 pull-left">
                <button class="inlineBlock btn btn-warning btnCategoriePreferee" ng-click="goToCategorie(categorie.id)" ng-repeat="categorie in categories track by categorie.id">{{categorie.label}}</button>
            </div>
        </div>
        <div class="col-md-2 column" ng-show="showEditing">
            <span class="glyphicon glyphicon-pencil pull-right" ng-click="goToUpdateCompteUser()"></span>
        </div>
        <div class="col-md-2 column" ng-show="typeUser == 'Admin' && !dontShowButtonDeleteUser">
            <div class="btn btn-danger pull-right" ng-click="deleteUser()">
            <span class="glyphicon glyphicon-trash pull-right" style="margin-left:5px;margin-top:2px;"></span> Supprimer compte </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="compteUser#aPropos" data-toggle="tab">A propos...</a>
                    </li>
                    <li ng-show="showProject">
                        <a href="compteUser#projetsUser" data-toggle="tab">Projets</a>
                    </li>
                    <li ng-show="showProject && isOwnCompte">
                        <a href="compteUser#statistic" data-toggle="tab">Statistiques</a>
                    </li>
                    <li ng-show="showContribution">
                        <a href="compteUser#contributionUser" data-toggle="tab">Contribution</a>
                    </li>
                    <li ng-show="isAdmin">
                        <a href="compteUser#historique" data-toggle="tab">Historique</a>
                    </li>
                    <li ng-show="isAdmin">
                        <a href="compteUser#users" data-toggle="tab">Utilisateurs</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="aPropos" style="margin-top:2%;">
                        <div class="row clearfix active">
                            <div class="col-md-6 column">
                                <p>
                                    <br/> {{user.description}}
                                </p>
                            </div>
                            <div class="col-md-6 column">
                                <table class="table tableInfo">
                                    <tbody>
                                        <tr>
                                            <td>
                                                Nom
                                            </td>
                                            <td class="bold">
                                                {{user.nom}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Prénom
                                            </td>
                                            <td>
                                                {{user.prenom}}
                                            </td>
                                        </tr>
                                        <tr ng-show="user.dateNaissance">
                                            <td>
                                                Age
                                            </td>
                                            <td>
                                                {{formatAge(user.dateNaissance)}} ans
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ville
                                            </td>
                                            <td>
                                                {{user.ville}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Code postal
                                            </td>
                                            <td>
                                                {{user.codePostal}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Date création
                                            </td>
                                            <td>
                                                {{user.created}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="projetsUser" style="margin-top:2%;" ng-if="showProject">
                        <h3 ng-show="projects.length == 0"> Aucun projet </h3>
                        <div class="row clearfix containerProjectCompte" ng-repeat="project in projects" ng-if="!project.estArchive">
                            <div class="row">
                                <div class="col-lg-3 column imgProjectCompte" style='height: 25%;'>
                                    <img class="img-thumbnail" alt="140x140" ng-src="{{project.urlPhotoPrincipal}}" style="display:block" />
                                </div>
                                <div class="col-md-9 column">
                                    <div class="row">
                                        <h2 style="margin-top:0;">{{project.titre}}</h2></div>
                                    <div class="row">
                                        <p class="descriptionProjetCompte">
                                            {{project.description}}
                                        </p>
                                        <div class="panel-body">
                                            <div class="col-lg-3 summaryElement">
                                                <h3>Récoltés : </h3>
                                                <h3 class="summaryElementH3"><b>{{project.sommeRecoltee}}€</b></h3>
                                            </div>
                                            <div class="col-lg-4 summaryElement">
                                                <h3>Objectifs : </h3>
                                                <h3 class="summaryElementH3"><b>{{project.objectifFinancier}}€</b></h3>
                                            </div>
                                            <button class="pull-right btn btn-success" ng-click="goToProject(project.id)">Voir </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="contributionUser" style="margin-top:2%" ng-if="showContribution">
                        <div class="row clearfix">
                            <div ng-show="contributions.length == 0">
                                <h3>Aucune contribution à afficher</h3>
                            </div>
                            <table style="width:100%" class="table-responsive tableContribution" ng-show="contributions.length > 0">
                                <tr>
                                    <th></th>
                                    <th>Titre</th>
                                    <th>Montant</th>
                                    <th>Date</th>
                                </tr>
                                <tr ng-repeat="contribution in contributions">
                                    <td class="col-lg-1"><img class="thumbnail img-responsive" ng-src="{{contribution.projet.urlPhotoPrincipal}}" style="margin-bottom:0;"></td>
                                    <td>{{contribution.projet.titre}}</td>
                                    <td>{{contribution.somme}}€</td>
                                    <td>{{formatDate(contribution.date)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="statistic" style="margin-top:3%" ng-if="showProject && isOwnCompte">
                        <div class="row">
                            <div class="divHeaderStats col-lg-6">
                                <h3 class="headerStatTitle"> Nombre projet proposé :</h3>
                                <h3 class="headerStatTitle" style="margin-left:2%;"> <b>{{stats.countProject}}</b> </h3>
                            </div>
                            <div class="divHeaderStats col-lg-6">
                                <h3 class="headerStatTitle"> Contribution moyenne général :</h3>
                                <h3 class="headerStatTitle" style="margin-left:2%;"><b>{{stats.averageGlobal}}</b> </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 column">
                                <h2 class="divHeaderStats"> Contribution moyenne par projet</h2>
                                <table class="table tableInfo">
                                    <tbody>
                                        <tr ng-repeat="average in stats.tabAverage">
                                            <td>
                                                {{average.titre}}
                                            </td>
                                            <td class="bold">
                                                {{average.average}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6" ng-show="!hideChart">
                                <h3 style="text-align:center">Part de réussite des projets archivés</h3>
                                <nvd3 options="options" data="data"></nvd3>
                            </div>
                            <div class="col-lg-6" ng-show="hideChart">
                                <h3> Pas assez de donnée disponible pour afficher le graphique de part de réussite des projets archivés</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="historique" style="margin-top:3%" ng-if="isAdmin">
                        <div class="row clearfix">
                            <div ng-show="contributions.length == 0">
                                <h3>Aucun historique à afficher</h3>
                            </div>
                            <table style="width:100%" class="table-responsive tableContribution" ng-show="projets.length > 0">
                                <tr>
                                    <th></th>
                                    <th>Titre</th>
                                    <th>Somme récoltée</th>
                                    <th>Date archivage</th>
                                </tr>
                                <tr ng-repeat="projet in projets">
                                    <td class="col-lg-1"><img class="thumbnail img-responsive" ng-src="{{projet.urlPhotoPrincipal}}" style="margin-bottom:0;"></td>
                                    <td><a ng-href="#!/project/{{projet.id}}">{{projet.titre}}</a></td>
                                    <td>{{projet.sommeRecoltee}}€</td>
                                    <td>{{formatDate(projet.dateArchivage)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="users" style="margin-top:3%" ng-if="isAdmin">
                        <div class="row clearfix">
                            <div ng-show="contributions.length == 0">
                                <h3>Aucun utilisateur à afficher</h3>
                            </div>
                            <table style="width:100%" class="table-responsive tableContribution" ng-show="users.length > 0">
                                <tr>
                                    <th></th>
                                    <th>Nom</th>
                                    <th>Type compte</th>
                                    <th>Date creation</th>
                                </tr>
                                <tr ng-repeat="user in users">
                                    <td class="col-lg-1"><img class="thumbnail img-responsive" ng-src="{{user.avatarUrl}}" style="margin-bottom:0;"></td>
                                    <td ng-if="user.proposeur"><a ng-href="#!/compteUser/Proposeur/{{user.id}}">{{user.nom}} {{user.prenom}}</a></td>
                                    <td ng-if="!user.proposeur"><a ng-href="#!/compteUser/Contributeur/{{user.id}}">{{user.nom}} {{user.prenom}}</a></td>
                                    <td ng-if="user.proposeur">Proposeur</td>
                                    <td ng-if="!user.proposeur">Contributeur</td>
                                    <td>{{formatDate(user.created)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>