<div class="swiper-container">
    <div class="swiper-wrapper">
        <ks-swiper-container initial-slide="0" loop="false" show-nav-buttons="false" slides-per-view="1" space-between="0" pagination-clickable="true">
            <ks-swiper-slide class="swiper-slide" ng-repeat="projet in projects">
                <div class="swiper-container" style='background-image:url("{{projet.urlPhotoPrincipal}}")'>
                    <div class="panel-body">
                        <div class="panel panel-default panelInside containerSlide">
                            <div class="panel-heading">
                                <h1> {{projet.titre}}</h1>
                            </div>
                            <div class="panel-body">
                                <p>{{projet.description}}</p>
                            </div>

                            <div class="row">
                                <h3> Objectif : {{projet.objectifFinancier}}€</h3>
                                <h3> Récoltés : {{projet.sommeRecoltee}}€</h3>
                                <button href="" ng-click="goToProjectDetail(projet.id)" class="pull-right btn btn-info">En savoir plus ... </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ks-swiper-slide>
        </ks-swiper-container>
    </div>
</div>