<div class="containerPage" id="container">
    <div class="panel panel-default containerProject">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 id="titreProjectDetail">{{project.titre}}</h1>
                    <div id="dateExpirationFrontPageDiv" ng-show="showDateExpirationFrontPage && isOwnProject && typeUser != 'Contributeur'">
                        <p class="dateExpirationFrontPageLabel">Date fin de mise en avant : </p>
                        <p class="dateExpirationFrontPageLabel"><b>{{project.dateExpirationMisEnAvant}}</b></p>
                    </div>
                    
                    
                    <select class="input form-control" name="selectCategorie" id="selectCategorie" ng-change="categorieChange()" ng-options="categorie.label for categorie in dataCategorie.tabOfCategorie" ng-model="dataCategorie.selectedCategorie" ng-show="definingCategorie">
                        <option value=''></option>
                    </select>
                    <button class="inlineBlock btn btn-warning pull-right" id="btnCategorieLabel" ng-click="goToCategorie(project.categorie.id)" ng-show="notDefiningCategorie">{{project.categorie.label}}</button>
                    
                    <button class="inlineBlock btn btn-info pull-right" id="btnCategorieLabel" ng-click="defineCategorie()" ng-show="typeUser == 'Admin' && notDefiningCategorie" >Définir catégorie</button>
                    
                </div>
                <div class="panel-body">
                    <div class="row summaryContainer">
                        <div class="col-lg-12 summary">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-lg-3 summaryElement">
                                                <h3>Récoltés : </h3>
                                                <h3 class="summaryElementH3"><b>{{project.sommeRecoltee}}€</b></h3>
                                            </div>
                                            <div class="col-lg-3 summaryElement">
                                                <h3>Objectifs : </h3>
                                                <h3 class="summaryElementH3"><b>{{project.objectifFinancier}}€</b></h3>
                                            </div>
                                            <div class="col-lg-6 ">
                                                <div class="btn btn-danger pull-right" ng-show="typeUser == 'Admin'" ng-click="deleteProject(project.id)"> Archiver projet </div>
                                                <div class="btn btn-danger pull-right" ng-show="typeUser != 'Admin' && isOwnProject && typeUser !='Contributeur'" ng-click="deleteProject(project.id)"> Supprimer projet </div>
                                                <div class="btn btn-success pull-right" ng-show="isOwnProject && typeUser !='Contributeur'" ng-click="goToUpdateProject()"> Modifier </div>
                                                <div class="btn btn-info pull-right" ng-show="isOwnProject && typeUser !='Contributeur'" ng-click="goToSetFrontPage()"> Financer mise en avant </div>
                                                <div class="btn btn-success pull-right" ng-show="typeUser=='Contributeur'" ng-click="goToContribute()"> Contribuer </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-lg-6">
                            <div class="row">
                                <p>{{project.description}}</p>
                            </div>
                            <div class="row containerVideo" ng-show="haveVideo">
                                <div class="col-lg-12 ">
                                    <iframe width="100%" ng-repeat="video in project.videos" ng-src="{{project.urlVideo}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 imgCol">
                            <div class="row">
                                <a title="Image 1" href="#"><img class="thumbnail img-responsive" ng-src="{{dataImg.imageSelected}}"></a>
                            </div>
                            <div class="row imgListContainer">
                                <div class="col-lg-3 col-sm-4 col-xs-6" ng-repeat="image in dataImg.imageList" ng-if="dataImg.imageSelected != image">
                                    <a title="Image 1" href="#"><img class="thumbnail img-responsive" ng-src="{{image}}" ng-click="changeImageSelected(image)"></a>
                                </div>
                            </div>
                            <div class="row projectFounder">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-xs-4" ng-show="{{proposeur.avatarUrl}}">
                                        <a title="Image 1" href="#"><img class="thumbnail img-responsive" ng-src="{{proposeur.avatarUrl}}"></a>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-xs-8">
                                        <p>Porteur du projet :</p>
                                        <h2><a ng-href="#!/compteUser/Proposeur/{{proposeur.id}}"> {{proposeur.nom}} {{proposeur.prenom}}</a></h2>
                                    </div>
                                </div>
                                <div class="row descriptionProjectFounder">
                                    <p>{{proposeur.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 awardContainer">
                        <div class="row award" ng-repeat="contrepartie in contreparties">
                            <div class="panel panel-default">
                                <div class="panel-heading"><b>Pour {{contrepartie.palier}}€</b></div>
                                <div class="panel-body">
                                    <ul>
                                        <li> {{contrepartie.value}} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row summaryContainer">
                        <div class="col-lg-12 summary">
                            <div class="panel panel-default">
                                <div class="panel-body ">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-lg-3 summaryElement">
                                                <h3>Récoltés : </h3>
                                                <h3 class="summaryElementH3"><b>{{project.sommeRecoltee}}€</b></h3>
                                            </div>
                                            <div class="col-lg-3 summaryElement">
                                                <h3>Objectifs : </h3>
                                                <h3 class="summaryElementH3"><b>{{project.objectifFinancier}}€</b></h3>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="btn btn-danger pull-right" ng-show="typeUser == 'Admin'" ng-click="deleteProject(project.id)"> Archiver projet </div>
                                                <div class="btn btn-danger pull-right" ng-show="typeUser != 'Admin' && isOwnProject && typeUser !='Contributeur'" ng-click="deleteProject(project.id)"> Supprimer projet </div>
                                                <div class="btn btn-success pull-right" ng-show="isOwnProject && typeUser !='Contributeur'" ng-click="goToUpdateProject()"> Modifier </div>
                                                <div class="btn btn-info pull-right" ng-show="isOwnProject && typeUser !='Contributeur'" ng-click="goToSetFrontPage()"> Financer mise en avant </div>
                                                <div class="btn btn-success pull-right" ng-show="typeUser=='Contributeur'" ng-click="goToContribute()"> Contribuer </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>